doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include cards
    title #{title}
    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight', content='no')
    // Color the status bar on mobile devices
    meta(name='theme-color', content=themeColor)
    style.
      body {
        overflow: hidden;
      }

      #loader {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(60deg, #e62f17 0%, #f2bb30 100%) no-repeat scroll center center/cover;
      }
    noscript#deferred-styles
      link(rel='stylesheet', href=stylesFile)
    script.
      function hideLoader() {
        if (window.jQuery) {
          window.jQuery('#loader').fadeOut()
        } else {
          document.getElementById('loader').style.display = 'none'
        }
      }

      function loadDeferredStyles() {
        var addStylesNode = document.getElementById('deferred-styles')
        var replacement = document.createElement('div')
        replacement.innerHTML = addStylesNode.textContent
        var link = replacement.firstChild
        link.onload = hideLoader
        document.body.appendChild(link)
        addStylesNode.parentElement.removeChild(addStylesNode)
      }

      if (document.readyState === 'complete') {
        loadDeferredStyles()
      } else {
        window.addEventListener('load', loadDeferredStyles)
      }
    link(rel='icon', type=favicon.type, sizes=favicon.size, href=favicon.path)
  body
    #loader
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src=scriptsFile)
