doctype html
html(lang='fr')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    include cards
    title #{title}
    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight', content='no')
    // Color the status bar on mobile devices
    meta(name='theme-color', content=themeColor)
    //include /html/favicons.html
    style
      include /styles/inline.css
    noscript#deferred-styles
      link(rel='stylesheet', href=stylesFile)
    script
      include /scripts/inline.js
    style
      include /styles/inline.css
    noscript
      style.
        body {
          overflow: visible;
        }

        #loader {
          display: none;
        }
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700')
  body
    #loader
      .loader-icon
        svg.circle(viewbox="25 25 50 50")
          circle.path(cx="50", cy="50", r="20", fill="none", stroke-width="2", stroke-miterlimit="10")

    block content
    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', defer)
    script(src=scriptsFile, defer)
